<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<%- include('../layouts/top-header') %>
<style>


  .servicesparent1 {
    width: 100%;
    display: initial;
    overflow-y: auto;
    margin-bottom: 0px;
    position: relative;
  }
  .img-div2 img {
    height: 248px;
    width: 100%;
    border-radius: 25px;
  }
  .servicesbox1 {
    width: 100%;
    padding: 0px 4px;
    position: relative;
    margin-bottom: 10px;
  }
  .img-text2 h4 {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    padding: 0px 15px;
    position: absolute;
    bottom: 30%;
    /* left: 16px; */
    width: 95%;
    background-color: #00000036;
    margin-left: 6px;
  }
</style>

<body >
  <div class="inner-header affix">
    <h3><a href="/"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;</a> <%= pagetitle%> <img src="/app-assets/img/services/iner-header-img.png"></h3>

  </div>

  <main class="main1">
    <section class="py-0 ">
      <div class="container-fluid">

        <div class="servicesparent1">
          <div class="servicesbox1">
            <a href="/servicespages?page_id=51">

              <div class="img-div2">
                <img src="/app-assets/img/services/Parking.jpg">
              </div>
              <div class="img-text2">
                <h4> Surface Parking In Ayodhya</h4>
              </div>

            </a>
          </div>

          <div class="servicesparent1">
            <div class="servicesbox1">
              <a href="/servicespages?page_id=52">

                <div class="img-div2">
                  <img src="/app-assets/img/services/sauchlay.jpeg">
                </div>
                <div class="img-text2">
                  <h4> Toilets Near You</h4>
                </div>

              </a>
            </div>

            <div class="servicesparent1">
              <div class="servicesbox1">
                <a href="/servicespages?page_id=53">

                  <div class="img-div2">
                    <img src="/app-assets/img/services/waterbank.jpg">
                  </div>
                  <div class="img-text2">
                    <h4> Water ATM Near You</h4>
                  </div>

                </a>
              </div>
              <div class="servicesparent1" >
                <div class="servicesbox1">
                  <a href="/servicespages?page_id=54">

                    <div class="img-div2">
                      <img src="/app-assets/img/services/heathatm.jpg">
                    </div>
                    <div class="img-text2">
                      <h4> Health ATM Near You</h4>
                    </div>
                    
                  </a>
                </div>
              </div>



            </div>
          </section>
        </main>


        <%- include('../layouts/footer') %>
      </body>


      </html>

