<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<%- include('../layouts/top-header') %>
<style>
  
</style>

  <body >
    <div class="inner-header affix">
        <h3><a href="/"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;</a> <%= pagetitle%> <img src="/app-assets/img/services/iner-header-img.png"></h3>

    </div>

      <main class="main1">
        <section class="py-0 ">
          <div class="container-fluid">
            
            <% if (visit_type == 1) { %>
                <div class="musrvisitdiv">
                    <h4>श्रीरामजन्मभूमि </h4>
                    <hr style="margin: 10px 0px 10px 0px;">
                    <div class="mustimg">
                      <img class="" src="/app-assets/img/must vist places/1.jpg">
      
                    </div>
                    <div class="mustcontent">
                      <p>श्री राम जन्मभूमि अयोध्या का सबसे पवित्र दर्शनीय स्थल है जो रामवाट नामक पर्वत पर स्थित अयोध्या रेलवे स्टेशन से मात्र 2 किलोमीटर की दुरी पर है यह वही स्थान है जहाँ भगवान श्री रामचंद्र जी का जन्म हुआ था| बहुत पहले यहाँ भगवान श्री राम का मंदिर भी हुआ करता था जिसे राजा विक्रमादित्य ने बनवाया था|   अयोध्या को भगवान राम की नगरी कहा जाता है। मान्यता है कि यहां हनुमान जी सदैव वास करते हैं। इसलिए अयोध्या आकर भगवान राम के दर्शन से पहले भक्त हनुमान जी के दर्शन करते हैं।</p>
                    </div>
                    
                  </div>

                  <% } else if(visit_type == 2) { %>
      
                  <div class="musrvisitdiv">
                      <h4>हनुमान गढ़ी</h4>
                      <hr style="margin: 10px 0px 10px 0px;">
                      <div class="mustimg">
                        <img class="" src="/app-assets/img/must vist places/2.jpg">
        
                      </div>
                      <div class="mustcontent">
                        <p>यहां का सबसे प्रमुख हनुमान मंदिर "हनुमानगढ़ी" के नाम से प्रसिद्ध है। यह मंदिर राजद्वार के सामने ऊंचे टीले पर स्थित है। कहा जाता है कि हनुमान जी यहाँ एक गुफा में रहते थे और रामजन्मभूमि और रामकोट की रक्षा करते थे। हनुमान जी को रहने के लिए यही स्थान दिया गया था।प्रभु श्रीराम ने हनुमान जी को ये अधिकार दिया था कि जो भी भक्त मेरे दर्शनों के लिए अयोध्या आएगा उसे पहले तुम्हारा दर्शन पूजन करना होगा। यहाँ आज भी छोटी दीपावली के दिन आधी रात को संकटमोचन का जन्म दिवस मनाया जाता है। "पवित्र नगरी अयोध्या में सरयू नदी में पाप धोने से पहले लोगों को भगवान हनुमान से आज्ञा लेनी होती है। यह मंदिर अयोध्या में एक टीले पर स्थित होने के कारण मंदिर तक पहुंचने के लिए लगभग 76 सीढि़यां चढ़नी पड़ती हैं। इसके बाद पवनपुत्र हनुमान की 6 इंच की प्रतिमा के दर्शन होते हैं,जो हमेशा फूल-मालाओं से सुशोभित रहती है। मुख्य मंदिर में बाल हनुमान के साथ अंजनी माता की प्रतिमा है। श्रद्धालुओं का मानना है कि इस मंदिर में आने से उनकी सारी मनोकामनाएं पूर्ण होती हैं। मंदिर परिसर में माँ अंजनी व बाल हनुमान की मूर्ति है जिसमें हनुमान जी, अपनी मां अंजनी की गोद में बालक के रूप में विराजमान हैं। "इस हनुमान मंदिर के निर्माण के कोई स्पष्ट साक्ष्य तो नहीं मिलते हैं लेकिन कहते हैं कि अयोध्या न जाने कितनी बार बसी और उजड़ी, लेकिन फिर भी एक स्थान जो हमेशा अपने मूल रूप में रहा वो हनुमान टीला है जो आज हनुमान गढ़ी के नाम से प्रसिद्ध है। लंका से विजय के प्रतीक रूप में लाए गए निशान भी इसी मंदिर में रखे गए जो आज भी खास मौके पर बाहर निकाले जाते हैं और जगह-जगह पर उनकी पूजा-अर्चना की जाती है। मन्दिर में विराजमान हनुमान जी को वर्तमान अयोध्या का राजा माना जाता है। कहते हैं कि हनुमान यहाँ एक गुफा में रहते थे और रामजन्मभूमि और रामकोट की रक्षा करते थे। श्रद्धालुओं का मानना है कि इस मंदिर में आने से उनकी सारी मनोकामनाएं पूर्ण होती हैं।</p>
                      </div>
                      
                    </div>
                    <% } else if(visit_type == 3) { %>
      
                    <div class="musrvisitdiv">
                      <h4>राजद्वार मन्दिर</h4>
                      <hr style="margin: 10px 0px 10px 0px;">
                      <div class="mustimg">
                        <img class="" src="/app-assets/img/must vist places/3.jpg">
        
                      </div>
                      <div class="mustcontent">
                        <p>यह अयोध्या के महत्वपूर्ण स्थलों में से एक है, जो उत्तर प्रदेश के अयोध्या क्षेत्र, हनुमान गढ़ी के पास स्थित है। यह भव्य मंदिर एक पतला शिखर वाला एक उच्च भूमि पर स्थित है और दूर से दिखाई देता है। यह अयोध्या का सबसे ऊँचा मंदिर है। मान्यता अनुसार यह राम कोट मंदिर में आने के लिए सबसे मुख्य द्वार था। विक्रमादित्य द्वारा जीर्णोद्धार करवाने के बाद कई राजाओं ने समय समय पर इसकी मरम्मत कराई, जिसमे राजा  दर्शन सिंह से लेकर राजा  जगदम्बिका प्रताप सिंह थे। मान्यता है की इसके गुम्बदो पर सोने का आवरण चढ़ा है।  मंदिर भगवान राम को समर्पित है। यह समकालीन वास्तुकला का एक बेहतरीन उदाहरण है।</p>
                      </div>
                      
                    </div>
                    <% } else if(visit_type == 4) { %>
      
                    <div class="musrvisitdiv">
                      <h4>कनक भवन</h4>
                      <hr style="margin: 10px 0px 10px 0px;">
                      <div class="mustimg">
                        <img class="" src="/app-assets/img/must vist places/4.jpg">
        
                      </div>
                      <div class="mustcontent">
                        <p>हनुमान गढ़ी के निकट स्थित कनक भवन अयोध्या का एक महत्वपूर्ण मंदिर है। यह मंदिर माता सीता और श्री राम के सोने का मुकुट पहने प्रतिमाओं के लिए लोकप्रिय है। इसी कारण बहुत बार इस मंदिर को सोने का घर भी कहा जाता है। ऐसा माना जाता है कि इस मंदिर को भगवान राम की माता कैकई ने विवाह के बाद सीता जी को मुह दिखाई मे दिया था । यह महल भगवान राम और माता सीता का निजी महल था जो की समय के साथ खंडर होता गया । यह मंदिर टीकमगढ़ की रानी ने 1891 में बनवाया था। इस मन्दिर के श्री विग्रह (श्री सीताराम जी) भारत के सुन्दरतम स्वरूप कहे जा सकते है। यहाँ नित्य दर्शन के अलावा सभी समैया-उत्सव भव्यता के साथ मनाये जाते हैं।</p>
                      </div>
                      
                    </div>
                    <% } else if(visit_type == 5) { %>
                    <div class="musrvisitdiv">
                      <h4>दशरथ महल</h4>
                      <hr style="margin: 10px 0px 10px 0px;">
                      <div class="mustimg">
                        <img class="" src="/app-assets/img/must vist places/5.jpg">
        
                      </div>
                      <div class="mustcontent">
                        <p>सरयू तट पर बसी अयोध्या यूं तो भगवान राम के नाम से पूरे विश्व में जानी जाती है| प्रभु श्री राम की जन्मस्थली से चंद कदम की दूरी पर स्थित दशरथ महल एक प्रसिद्ध सिद्ध पीठ है| मान्यताओं के अनुसार राजा दशरथ ने त्रेता युग में इस महल की स्थापना की थी| इस पौराणिक महल का कालांतर में कई बार जीर्णोद्धार भी किया गया| चक्रवर्ती महाराज दशरथ के महल को बड़ा स्थान या बड़ी जगह के नाम से भी जाना जाता है.वर्तमान समय में दशरथ महल अब एक पवित्र मंदिर के रूप में परिवर्तित हो चुका है| जहां भगवान श्री राम माता सीता लक्ष्मण शत्रुघ्न और भरत की प्रतिमाएं स्थापित हैं| श्रवण मेला चैत, रामनवमी, कार्तिक मेला, दीपावली, राम विवाह उत्साह के साथ मनाया जाता है| मान्यता है कि चक्रवर्ती राजा दशरथ अपने रिश्तेदारों के साथ यहां रहते थे|</p>
                      </div>
                      
                    </div>
                    <% } else if(visit_type == 6) { %>
      
                    <div class="musrvisitdiv">
                      <h4>नागेश्वर नाथ मन्दिर </h4>
                      <hr style="margin: 10px 0px 10px 0px;">
                      <div class="mustimg">
                        <img class="" src="/app-assets/img/must vist places/6.jpg">
        
                      </div>
                      <div class="mustcontent">
                        <p>शिव भगवन को समर्पित यह मंदिर राम की पैड़ी में स्थित है| ऐसी मान्यता है कि इसका निर्माण श्री राम के छोटे पुत्र कुश ने करवाया था| कहा जाता है कि एक बार सरयू में स्नान करते समय कुश ने अपना बाजूबंद खो दिया था जो एक नाग कन्या द्वारा वापस किया गया| नाग कन्या कुश पर मोहित हो गयी, चूँकि वह शिवभक्त थी अतः कुश ने इस मंदिर का निर्माण उस नाग कन्या के लिए करवाया था| यह मंदिर राजा विक्रमादित्य के शासन काल तक अच्छी स्थिति में था| 1750 में इसका जीर्णोधार नवाब सफ़दरजंग के मंत्री नवल राय द्वारा कराया गया था| शिवरात्रि का पर्व इस मंदिर में बड़े धूमधाम से मनाया जाता है, यहाँ शिव बारात का भी बड़ा महत्त्व है| शिवरात्रि के पर्व में यहाँ लाखों की संख्या में दर्शनार्थी एवं श्रद्धालु उपस्थित होते हैं|</p>
                      </div>
                      
                    </div>
                    <% } else if(visit_type == 7) { %>
                    <div class="musrvisitdiv">
                      <h4>कालेराम मन्दिर</h4>
                      <hr style="margin: 10px 0px 10px 0px;">
                      <div class="mustimg">
                        <img class="" src="/app-assets/img/must vist places/7.jpg">
        
                      </div>
                      <div class="mustcontent">
                        <p>पेशवा के सरदार रंगराव ओढ़ेकर द्वारा यह मंदिर 1782 में नागर शैली में निर्मित कराया गया था, जो लगभग 1788 ईस्वी में बनकर तैयार हुआ था। मंदिर में विराजित राम की मूर्ति काले पाषाण से बनी हुई है, इसलिए इसे 'कालाराम' कहा जाता है। यह मंदिर 74 मीटर लंबा और 32 मीटर चौड़ा है। मंदिर की चारों दिशाओं में चार दरवाजे हैं। इस मंदिर के कलश तक की ऊँचाई 69 फीट है तथा कलश 32 टन शुद्ध सोने से निर्मित किया हुआ है। पूर्व महाद्वार से प्रवेश करने पर भव्य सभामंडप नजर आता है, जिसकी ऊँचाई 12 फीट होने के साथ यहाँ चालीस खंभे है। यहाँ विराजमान हनुमान मंदिर में वे अपने आराध्य श्री राम के चरणों की ओर देखते हुए प्रतीत होते हैं। कहा जाता है कि ये मंदिर पर्णकुटी के स्थान पर बनाया गया है, जहाँ पूर्व में नाथपंथी साधु निवास करते थे। एक दिन साधुओं को अरुणा-वरुणा नदियों पर श्री राम की मूर्ति प्राप्त हुई और उन्होंने इसे लकड़ी के मंदिर में विराजित किया था। तत्पश्चात माधवराव पेशवा की माता श्री गोपिकाबाई की सूचना पर इस मंदिर का निर्माण करवाया गया। उस काल के दौरान मंदिर निर्माण में 23 लाख का खर्च अनुमानित बताया जाता है।</p>
                      </div>
                      
                    </div>
                    <% } else if(visit_type == 8) { %>
                    <div class="musrvisitdiv">
                      <h4>रंग महल</h4>
                      <hr style="margin: 10px 0px 10px 0px;">
                      <div class="mustimg">
                        <img class="" src="/app-assets/img/must vist places/8.jpg">
        
                      </div>
                      <div class="mustcontent">
                        <p>इस मंदिर में जब माता सीता भगवान राम के साथ विवाह के उपरांत अयोध्या पहुंची तो इस मंदिर में माता सीता की मुंह दिखाई रस्म कौशल्या माता ने की थी। उस समय बसंत का उत्सव चल रहा था इसलिए इस मंदिर का नाम रंगमहल दिया गया| जिस तरह जनकपुर में माँ सीता की पूजा अर्चना की जाती है, ठीक उसी प्रकार रंग महल मंदिर में स्थित भगवान राम और माता सीता की पूजा यहां के पुजारी एक सखी का रूप धारण कर करते है। इस स्थान में रहने वाले संत सखी सम्प्रदाय के माने जाते है तथा इस मंदिर में सबसे अद्भुत यह कि इस मंदिर के पीछे एक ऐसा स्थान है जहां पर प्रत्येक दिन मंदिर में वर्षों से रह रही एक गाय उस स्थान की परिक्रमा करती है और राम जन्मभूमि की तरफ सर झुकाकर प्रणाम भी करती रही है। यह गाय जिस स्थान की परिक्रमा करती है यह आज भी एक रहस्य बना हुआ है जिसके बारे में वर्षों से रह रहे संत तथा महंत भी नहीं जानते है। आज भी इस गाय को देखने के लिए लोग दूर दूर से अयोध्या पहुंचते है।</p>
                      </div>
                      
                    </div>
                    <% } else if(visit_type == 9) { %>
                    <div class="musrvisitdiv">
                      <h4>अंतर्राष्ट्रीय रामकथा संग्रहालय</h4>
                      <hr style="margin: 10px 0px 10px 0px;">
                      <div class="mustimg">
                        <img class="" src="/app-assets/img/must vist places/9.jpeg">
        
                      </div>
                      <div class="mustcontent">
                        <p>अयोध्या शहर उत्तर प्रदेश में सरयू नदी के किनारे स्थित है। श्रद्धालुओं के साथ-साथ आम पर्यटकों के लिए भी उत्तर प्रदेश का यह शहर दर्शनीय है। भले ही ये अयोध्या में सभी पर्यटक आकर्षण दर्शनीय हैं, लेकिन अयोध्या में कुछ अन्य स्थान भी हैं जो राम कथा संग्रहालय के उदाहरण के रूप में अच्छी तरह से देखने लायक हैं। इसी में से एक राम कथा संग्रहालय है। इसे वर्ष 1988 में स्थापित किया गया था। राम कथा संग्रहालय, भारत में कला और कलाकृतियों का एक बहुत ही रोचक संग्रह है। यह विशेष रूप से इतिहास के प्रेमियों के लिए एक विशेष संग्रहालय है। सिक्कों, दुर्लभ ताड़ के पत्तों की पांडुलिपियों और मिट्टी के बर्तनों का प्रदर्शन किया जाता है जो अतीत पर प्रकाश डालते हैं। इस संग्रहालय में मिट्टी के बर्तनों के अलावा, कई अन्य टेराकोटा वस्तुएं हैं। कपड़ा और धातु की वस्तुएं रिपॉजिटरी का एक अभिन्न हिस्सा हैं। इस संग्रहालय की यात्रा पर आने वाले किसी भी आगंतुक को निश्चित रूप से प्रभावित करेगा कि वे अति सुंदर मूर्तियां हैं। इस संग्रहालय में रखी गई खूबसूरत तस्वीरें और अद्भुत पेंटिंग भी किसी का ध्यान आकर्षित करने में विफल नहीं होंगी। यहाँ रखी कई पुरावशेष भगवान राम के जीवन से जुड़ी हैं। संग्रहालय प्राधिकरण न केवल उससे जुड़ी इन पुरानी कलाकृतियों के संरक्षण में लगा हुआ है बल्कि संग्रह को लगातार बढ़ा रहा है।</p>
                      </div>
                      
                    </div>
                    <% } else if(visit_type == 10) { %>
      
                    <div class="musrvisitdiv">
                      <h4>कार्यशाला</h4>
                      <hr style="margin: 10px 0px 10px 0px;">
                      <div class="mustimg">
                        <img class="" src="/app-assets/img/must vist places/10.jpg">
        
                      </div>
                      <div class="mustcontent">
                        <p>अयोध्या. राम मंदिर में लगने वाले पत्थरों के लिए बिना रुके जो 30 सालों से जो कार्यशाला चल रही है आज आपको उसके गौरवशाली इतिहास के बारे में बतातें हैं. कारसेवक पुरम से कुछ ही दूरी पर स्थित है| विश्व हिंदू परिषद (VHP) की कार्यशाला है| यह वही जगह है जहां पिछले लगभग 30 सालों से राम मंदिर निर्माण में लगने वाले पत्थरों को तराशा जा रहा है| सितंबर 1990 में परमहंस रामचंद्र दास, महंत नृत्य गोपाल दास, विश्व हिंदू परिषद के अशोक सिंघल के मार्गदर्शन में यह कार्यशाला स्थापित की गई थी| वहीं राम मंदिर के निर्माण की तैयारियों को लेकर यह कार्यशाला प्रमुख केंद्र रही है| 1992 से अयोध्या आने वाले पर्यटक या श्रद्धालु इस कार्यशाला में भी हजारों की संख्या में आने लगे| कार्यशाला में आते ही श्रद्धालुओं को वहां उपस्थित लोग यह भी बताते हैं कि इस तरह का पत्थर भगवान राम के मंदिर में लगेंगे|</p>
                      </div>
                      
                    </div>
                    <% } else if(visit_type == 11) { %>
                    <div class="musrvisitdiv">
                      <h4>तुलसी उद्यान</h4>
                      <hr style="margin: 10px 0px 10px 0px;">
                      <div class="mustimg">
                        <img class="" src="/app-assets/img/must vist places/11.jpg">
        
                      </div>
                      <div class="mustcontent">
                        <p>राम नगरी अयोध्या नया घाट क्षेत्र स्थित तुलसी उद्यान पर्यटकों के लिए आकर्षण का केंद्र बना हुआ है | ब्रिटिश सरकार ने अयोध्या कि धार्मिक स्वतंत्रता पर भी रोक लगाने के लिए महारानी विक्टोरिया की प्रतिमा को स्थापित किया था, लेकिन सन 1949 में मिली स्वतंत्रता के बाद अयोध्या की धार्मिक आजादी भी शुरू हो गई थी। अयोध्या की एक समाजसेवी महिला ने भगवान की प्रेरणा से रामचरितमानस के रचयिता गोस्वामी तुलसीदास की मूर्ति स्थापित करवाया. 28 दिसंबर 1963 में अयोध्या की समाजसेवी रीना शर्मा द्वारा नया घाट क्षेत्र स्थित विक्टोरिया पार्क के स्थान पर तुलसीदास की प्रतिमा को स्थापित कराते हुए पार्क को तुलसी उद्यान का नाम दिया था. उत्तर प्रदेश के तत्कालीन राज्यपाल विश्वनाथ दास ने इस प्रतिमा का अनावरण किया था. यह कार्य रामनगरी अयोध्या को नई दिशा देने वाला बना.</p>
                      </div>
                      
                    </div>
                    <% } else if(visit_type == 12) { %>
                    <div class="musrvisitdiv">
                      <h4>छोटी देवकाली</h4>
                      <hr style="margin: 10px 0px 10px 0px;">
                      <div class="mustimg">
                        <img class="" src="/app-assets/img/must vist places/12.jpg">
        
                      </div>
                      <div class="mustcontent">
                        <p>अयोध्या में माता सीता द्वारा स्थापित माता पार्वती की प्रतिमा जो आज माँ देवकाली के नाम से प्रसिद्ध हैं| इस स्थान पर पूजा आराधना करने से सभी मनोकामना पूर्ण होता हैं भगवान श्रीराम की पवित्र नगरी अयोध्या में छोटी देवकाली मंदिर में नगर देवी सर्वमंगला पार्वती माता गौरी के रूप में विराजती हैं| श्री देवकाली मंदिर में माता सीता की कुल देवी के रूप में इस शक्ति पीठ में विशेष आस्था और श्रद्धा के साथ पूजा जाता है| विश्व में श्रेष्ठ तीर्थस्थलों में रामनगरी अयोध्या प्रमुख है श्री देवकाली मंदिर स्थान का ऐसी मान्यता है कि मां सीता जब जनकपुरी से अपने ससुराल अयोध्या के लिए चलीं थी तो अपने कुल देवी माता पार्वती की प्रतिमा साथ ले आयीं| महाराज दशरथ जी ने अयोध्या स्थित सप्तसागर के ईशानकोण पर श्री पार्वती जी का मंदिर बनवा दिया था जहां माता सीता तथा राजकुल की अन्य रानियाँ पूजन हेतु जाया करती थीं| आज यह रामायण कालीन मंदिर अपनी भव्यता और श्रेष्ठता के चलते भारत का प्रमुख देव स्थल बन चुका था|</p>
                      </div>
                      
                    </div>
                    <% } else if(visit_type == 13) { %>
                    <div class="musrvisitdiv">
                      <h4>तुलसी स्मारक भवन</h4>
                      <hr style="margin: 10px 0px 10px 0px;">
                      <div class="mustimg">
                        <img class="" src="/app-assets/img/must vist places/13.jpg">
        
                      </div>
                      <div class="mustcontent">
                        <p>तुलसी स्मारक भवन अयोध्या , उत्तर प्रदेश  में स्थित है। अवधी भाषा में 'रामचरितमानस' और 'हनुमान चालीसा' की रचना करने वाले गोस्वामी तुलसीदास की स्मृति में निर्मित यह स्मारक 'अयोध्या शोध संस्थान' में स्थित है। यह एक ऐसा संगठन है जो अयोध्या शहर की सांस्कृतिक, आध्यात्मिक और साहित्यिक परंपरा का अध्ययन और वर्णन करता है। इस भवन में रामायण कला और शिल्प पर आधारित स्थाई प्रदर्शनी और एक पुस्तकालय भी है। यहाँ रामलीला का दैनिक आयोजन और रामकथा का नियमित पाठ भी होता है। तुलसी स्मारक भवन में विभिन्न धार्मिक कार्यक्रमों व प्रार्थना सभाओं के साथ-साथ अनुभवी कलाकारों द्वारा किए जाने वाले धार्मिक नाटकों का आयोजन किया जाता है। संस्थान के भीतर सन 1988 में 'रामकंठ संग्रहालय' स्थापित किया गया था, जिसमें राम के युग की प्राचीन वस्तुओं के संग्रह के माध्यम से इस नगर के ऐतिहासिक परिप्रेक्ष्य को सामने लाया जाता है।</p>
                      </div>
                      
                    </div>
                    <% } else if(visit_type == 14) { %>
                    <div class="musrvisitdiv">
                      <h4>वाल्मीकि मंदिर</h4>
                      <hr style="margin: 10px 0px 10px 0px;">
                      <div class="mustimg">
                        <img class="" src="/app-assets/img/must vist places/14.jpg">
        
                      </div>
                      <div class="mustcontent">
                        <p>वाल्मीकि समाज द्वारा निर्मित महर्षि वाल्मीकि को समर्पित मंदिर है। प्रधान मंत्री नरेंद्र मोदी ने 2 अक्टूबर 2014 को महात्मा गांधी की जयंती पर यहीं से स्वच्छ भारत अभियान का आह्वान किया था। महात्मा गांधी ने 1 अप्रैल 1946 से 1947 के प्रारंभ तक अपने दिल्ली प्रवास के दौरान यहाँ 214 दिन बिताए थे। महर्षि वाल्मीकि का जन्म नागा प्रजाति में हुआ था। महर्षि बनने के पहले वाल्मीकि रत्नाकर के नाम से जाने जाते थे। वे परिवार के पालन-पोषण हेतु दस्युकर्म करते थे। एक बार उन्हें निर्जन वन में नारद मुनि मिले। जब रत्नाकर ने उन्हें लूटना चाहा, तो उन्होंने रत्नाकर से पूछा कि यह कार्य किस लिए करते हो, रत्नाकर ने जवाब दिया परिवार को पालने के लिये। नारद ने प्रश्न किया कि क्या इस कार्य के फलस्वरुप जो पाप तुम्हें होगा उसका दण्ड भुगतने में तुम्हारे परिवार वाले तुम्हारा साथ देंगे। रत्नाकर ने जवाब दिया पता नहीं, नारदमुनि ने कहा कि जाओ उनसे पूछ आओ। तब रत्नाकर ने नारद ऋषि को पेड़ से बाँध दिया तथा घर जाकर पत्नी तथा अन्य परिवार वालों से पूछा कि क्या दस्युकर्म के फलस्वरुप होने वाले पाप के दण्ड में तुम मेरा साथ दोगे तो सबने मना कर दिया। तब रत्नाकर नारदमुनि के पास लौटे तथा उन्हें यह बात बतायी। इस पर नारदमुनि ने कहा कि हे रत्नाकर यदि तुम्हारे घरवाले इसके पाप में तुम्हारे भागीदार नहीं बनना चाहते तो फिर क्यों उनके लिये यह पाप करते हो। यह सुनकर रत्नाकर को दस्युकर्म से उन्हें विरक्ति हो गई तथा उन्होंने नारदमुनि से उद्धार का उपाय पूछा। नारदमुनि ने उन्हें राम-राम जपने का निर्देश दिया। रत्नाकर वन में एकान्त स्थान पर बैठकर राम-राम जपने लगे लेकिन अज्ञानतावश राम-राम की जगह मरा-मरा जपने लगे। कई वर्षों तक कठोर तप के बाद उनके पूरे शरीर पर चींटियों ने बाँबी बना ली जिस कारण उनका नाम वाल्मीकि पड़ा। कठोर तप से प्रसन्न होकर ब्रह्मा जी ने इन्हें ज्ञान प्रदान किया तथा रामायण की रचना करने की आज्ञा दी। ब्रह्मा जी की कृपा से इन्हें समय से पूर्व ही रामायण की सभी घटनाओं का ज्ञान हो गया तथा उन्होंने रामायण की रचना की। कालान्तर में वे महान ऋषि बने।</p>
                      </div>
                      
                    </div>
                    <% } else if(visit_type == 15) { %>
                    <div class="musrvisitdiv">
                      <h4>बड़ी छावनी</h4>
                      <hr style="margin: 10px 0px 10px 0px;">
                      <div class="mustimg">
                        <img class="" src="/app-assets/img/must vist places/15.jpg">
        
                      </div>
                      <div class="mustcontent">
                        <p>मुख्य अयोध्या शहर से दूर, एक किनारे में लगभग तीन एकड़ जमीन पर आबाद है ये छावनी। चारों तरफ बुलंद चारदीवारी है और आने-जाने के लिए एक दरवाजा है। संतों के मुताबिक, बहुत पहले एक संन्यासी अपने साथ बारह सौ साधु-संतों के साथ घूमते हुए अयोध्या आए। वो चार महीने के लिए अयोध्या में डेरा डालना चाहते थे। चुकी उनके साथ और ग्यारह सौ साधु थे सो कोई तैयार नहीं हो रहा था। तब इस छावनी के पहले महंत श्री रघुनाथ दास जी महाराज ने उन्हें और उनके साथी साधुओं को यहां साल भर के लिए रोका। तभी इसे बड़ी छावनी कहते हैं।</p>
                      </div>
                      
                    </div>
                    <% } else if(visit_type == 16) { %>
                    <div class="musrvisitdiv">
                      <h4>तपसी (तपस्वी) जी की छावनी</h4>
                      <hr style="margin: 10px 0px 10px 0px;">
                      <div class="mustimg">
                        <img class="" src="/app-assets/img/must vist places/16.jpg">
        
                      </div>
                      <div class="mustcontent">
                        <p>अयोध्या शहर के रामघाट इलाके में स्थित है ये छावनी। भव्य इमारत और इमारत पर की गई कारीगरी से सहज अंदाजा हो जाता है कि छावनी बहुत पहले से आबाद है| ये छावनी उन साधु-संन्यासियों के लिए बनवाया गया था जो जंगलों और पहाड़ों में तपस्या करते थे। जब वो घूमते-घूमते अयोध्या आते थे तो उनको ठहरने में और अपनी दिनचर्या बनाए रखने में दिक्कत होती थी। इन्हीं बातों का ख्याल रखते हुए इस छावनी का निर्माण हुआ।</p>
                      </div>
                      
                    </div>
                    <% } else if(visit_type == 17) { %>
                    <div class="musrvisitdiv">
                      <h4>छोटी छावनी</h4>
                      <hr style="margin: 10px 0px 10px 0px;">
                      <div class="mustimg">
                        <img class="" src="/app-assets/img/must vist places/17.jpeg">
        
                      </div>
                      <div class="mustcontent">
                        <p>इस छावनी को छोटी छावनी के नाम से ही अयोध्या में लोग जानते हैं, लेकिन कुछ साल पहले इसका नाम बदलकर श्री मणिराम दास छावनी कर दिया गया। अयोध्या की सभी छावनियों में आज इस छावनी का कद और प्रभाव सबसे ज्यादा है।</p>
                      </div>
                      
                    </div>
                    <% } else if(visit_type == 18) { %>
      
                    <div class="musrvisitdiv">
                      <h4>बड़ी देवकाली</h4>
                      <hr style="margin: 10px 0px 10px 0px;">
                      <div class="mustimg">
                        <img class="" src="/app-assets/img/must vist places/18.jpg">
        
                      </div>
                      <div class="mustcontent">
                        <p>भगवान श्री राम की कुलदेवी मां बड़ी देवकाली मंदिर है जहां पर एक ही शिला में तीन देवियां महाकाली, महालक्ष्मी, महासरस्वती विराजती हैं। मान्यता है देश भर में मां के दो ही ऐसे मंदिर हैं जहां पर एक शिला में तीन देवियां विराजती हैं। पहला मंदिर मां वैष्णो देवी मंदिर है और दूसरा मां बड़ी देवकाली है। बड़ी देवकाली मंदिर शहर में ही स्थित है। पहले यह स्थान जंगल क्षेत्र था। मंदिर में मां काली, लक्ष्मी व माता सरस्वती के विग्रह स्थापित हैं। सूर्यवंशीय महराज सुदर्शन द्वारा इसे द्वापर युग में स्थापित माना जाता है। इन्हें शीतला देवी के नाम से भी जाना जाता है।</p>
                      </div>
                      
                    </div>
                    <% } else if(visit_type == 19) { %>
      
                    <div class="musrvisitdiv">
                      <h4>गुप्तार घाट</h4>
                      <hr style="margin: 10px 0px 10px 0px;">
                      <div class="mustimg">
                        <img class="" src="/app-assets/img/must vist places/19.jpg">
        
                      </div>
                      <div class="mustcontent">
                        <p>उत्तर प्रदेश के अयोध्या जिले में गुप्तार घाट घाघरा नदी के पश्चिमी तट पर स्थित एक धार्मिक स्थल है, जिसे सरयू नदी के नाम से भी जाना जाता है। भगवान राम और उसके आस-पास के क्षेत्र का जन्म स्थान अयोध्या के रूप में जाना जाता है, विशेष रूप से साकेत। शास्त्रों में गुप्त-घाट की महिमा का बखान किया गया है। गुप्तार घाट अयोध्या में हनुमान गढ़ी से लगभग 9 किमी दूर है। गुप्तार घाट कई मायनों में अयोध्या के घाटों से अलग दिखता है। सख्त अर्थों में न तो 'पंडों' की उपस्थिति है और न ही धार्मिक वातावरण। घाट पर एकांत बोरियत पैदा नहीं करता बल्कि यह चैतन्य शांति प्राप्त करता है। हिंदू पौराणिक कथाओं के अनुसार, भगवान राम ने गुप्तार घाट पर जल समाधि ली और वैकुंठ चले गए।  वैकुंठ भगवान विष्णु के निवास का नाम है। पौराणिक कथाओं का यह दृष्टिकोण हिंदू धर्म में आस्था रखने वालों और भगवान राम के भक्तों के लिए सरयू नदी को पवित्र बनाता है। चूंकि गुप्तार घाट भगवान राम से संबंधित है, इसलिए इस स्थान का अपना सांस्कृतिक महत्व भी है।</p>
                      </div>
                      
                    </div>

            <% } else { %>
            <div class="musrvisitdiv">
              <h4>श्रीरामजन्मभूमि </h4>
              <hr style="margin: 10px 0px 10px 0px;">
              <div class="mustimg">
                <img class="" src="/app-assets/img/must vist places/1.jpg">

              </div>
              <div class="mustcontent">
                <p>श्री राम जन्मभूमि अयोध्या का सबसे पवित्र दर्शनीय स्थल है जो रामवाट नामक पर्वत पर स्थित अयोध्या रेलवे स्टेशन से मात्र 2 किलोमीटर की दुरी पर है यह वही स्थान है जहाँ भगवान श्री रामचंद्र जी का जन्म हुआ था| बहुत पहले यहाँ भगवान श्री राम का मंदिर भी हुआ करता था जिसे राजा विक्रमादित्य ने बनवाया था|   अयोध्या को भगवान राम की नगरी कहा जाता है। मान्यता है कि यहां हनुमान जी सदैव वास करते हैं। इसलिए अयोध्या आकर भगवान राम के दर्शन से पहले भक्त हनुमान जी के दर्शन करते हैं।</p>
              </div>
              
            </div>

            <div class="musrvisitdiv">
                <h4>हनुमान गढ़ी</h4>
                <hr style="margin: 10px 0px 10px 0px;">
                <div class="mustimg">
                  <img class="" src="/app-assets/img/must vist places/2.jpg">
  
                </div>
                <div class="mustcontent">
                  <p>यहां का सबसे प्रमुख हनुमान मंदिर "हनुमानगढ़ी" के नाम से प्रसिद्ध है। यह मंदिर राजद्वार के सामने ऊंचे टीले पर स्थित है। कहा जाता है कि हनुमान जी यहाँ एक गुफा में रहते थे और रामजन्मभूमि और रामकोट की रक्षा करते थे। हनुमान जी को रहने के लिए यही स्थान दिया गया था।प्रभु श्रीराम ने हनुमान जी को ये अधिकार दिया था कि जो भी भक्त मेरे दर्शनों के लिए अयोध्या आएगा उसे पहले तुम्हारा दर्शन पूजन करना होगा। यहाँ आज भी छोटी दीपावली के दिन आधी रात को संकटमोचन का जन्म दिवस मनाया जाता है। "पवित्र नगरी अयोध्या में सरयू नदी में पाप धोने से पहले लोगों को भगवान हनुमान से आज्ञा लेनी होती है। यह मंदिर अयोध्या में एक टीले पर स्थित होने के कारण मंदिर तक पहुंचने के लिए लगभग 76 सीढि़यां चढ़नी पड़ती हैं। इसके बाद पवनपुत्र हनुमान की 6 इंच की प्रतिमा के दर्शन होते हैं,जो हमेशा फूल-मालाओं से सुशोभित रहती है। मुख्य मंदिर में बाल हनुमान के साथ अंजनी माता की प्रतिमा है। श्रद्धालुओं का मानना है कि इस मंदिर में आने से उनकी सारी मनोकामनाएं पूर्ण होती हैं। मंदिर परिसर में माँ अंजनी व बाल हनुमान की मूर्ति है जिसमें हनुमान जी, अपनी मां अंजनी की गोद में बालक के रूप में विराजमान हैं। "इस हनुमान मंदिर के निर्माण के कोई स्पष्ट साक्ष्य तो नहीं मिलते हैं लेकिन कहते हैं कि अयोध्या न जाने कितनी बार बसी और उजड़ी, लेकिन फिर भी एक स्थान जो हमेशा अपने मूल रूप में रहा वो हनुमान टीला है जो आज हनुमान गढ़ी के नाम से प्रसिद्ध है। लंका से विजय के प्रतीक रूप में लाए गए निशान भी इसी मंदिर में रखे गए जो आज भी खास मौके पर बाहर निकाले जाते हैं और जगह-जगह पर उनकी पूजा-अर्चना की जाती है। मन्दिर में विराजमान हनुमान जी को वर्तमान अयोध्या का राजा माना जाता है। कहते हैं कि हनुमान यहाँ एक गुफा में रहते थे और रामजन्मभूमि और रामकोट की रक्षा करते थे। श्रद्धालुओं का मानना है कि इस मंदिर में आने से उनकी सारी मनोकामनाएं पूर्ण होती हैं।</p>
                </div>
                
              </div>

              <div class="musrvisitdiv">
                <h4>राजद्वार मन्दिर</h4>
                <hr style="margin: 10px 0px 10px 0px;">
                <div class="mustimg">
                  <img class="" src="/app-assets/img/must vist places/3.jpg">
  
                </div>
                <div class="mustcontent">
                  <p>यह अयोध्या के महत्वपूर्ण स्थलों में से एक है, जो उत्तर प्रदेश के अयोध्या क्षेत्र, हनुमान गढ़ी के पास स्थित है। यह भव्य मंदिर एक पतला शिखर वाला एक उच्च भूमि पर स्थित है और दूर से दिखाई देता है। यह अयोध्या का सबसे ऊँचा मंदिर है। मान्यता अनुसार यह राम कोट मंदिर में आने के लिए सबसे मुख्य द्वार था। विक्रमादित्य द्वारा जीर्णोद्धार करवाने के बाद कई राजाओं ने समय समय पर इसकी मरम्मत कराई, जिसमे राजा  दर्शन सिंह से लेकर राजा  जगदम्बिका प्रताप सिंह थे। मान्यता है की इसके गुम्बदो पर सोने का आवरण चढ़ा है।  मंदिर भगवान राम को समर्पित है। यह समकालीन वास्तुकला का एक बेहतरीन उदाहरण है।</p>
                </div>
                
              </div>

              <div class="musrvisitdiv">
                <h4>कनक भवन</h4>
                <hr style="margin: 10px 0px 10px 0px;">
                <div class="mustimg">
                  <img class="" src="/app-assets/img/must vist places/4.jpg">
  
                </div>
                <div class="mustcontent">
                  <p>हनुमान गढ़ी के निकट स्थित कनक भवन अयोध्या का एक महत्वपूर्ण मंदिर है। यह मंदिर माता सीता और श्री राम के सोने का मुकुट पहने प्रतिमाओं के लिए लोकप्रिय है। इसी कारण बहुत बार इस मंदिर को सोने का घर भी कहा जाता है। ऐसा माना जाता है कि इस मंदिर को भगवान राम की माता कैकई ने विवाह के बाद सीता जी को मुह दिखाई मे दिया था । यह महल भगवान राम और माता सीता का निजी महल था जो की समय के साथ खंडर होता गया । यह मंदिर टीकमगढ़ की रानी ने 1891 में बनवाया था। इस मन्दिर के श्री विग्रह (श्री सीताराम जी) भारत के सुन्दरतम स्वरूप कहे जा सकते है। यहाँ नित्य दर्शन के अलावा सभी समैया-उत्सव भव्यता के साथ मनाये जाते हैं।</p>
                </div>
                
              </div>

              <div class="musrvisitdiv">
                <h4>दशरथ महल</h4>
                <hr style="margin: 10px 0px 10px 0px;">
                <div class="mustimg">
                  <img class="" src="/app-assets/img/must vist places/5.jpg">
  
                </div>
                <div class="mustcontent">
                  <p>सरयू तट पर बसी अयोध्या यूं तो भगवान राम के नाम से पूरे विश्व में जानी जाती है| प्रभु श्री राम की जन्मस्थली से चंद कदम की दूरी पर स्थित दशरथ महल एक प्रसिद्ध सिद्ध पीठ है| मान्यताओं के अनुसार राजा दशरथ ने त्रेता युग में इस महल की स्थापना की थी| इस पौराणिक महल का कालांतर में कई बार जीर्णोद्धार भी किया गया| चक्रवर्ती महाराज दशरथ के महल को बड़ा स्थान या बड़ी जगह के नाम से भी जाना जाता है.वर्तमान समय में दशरथ महल अब एक पवित्र मंदिर के रूप में परिवर्तित हो चुका है| जहां भगवान श्री राम माता सीता लक्ष्मण शत्रुघ्न और भरत की प्रतिमाएं स्थापित हैं| श्रवण मेला चैत, रामनवमी, कार्तिक मेला, दीपावली, राम विवाह उत्साह के साथ मनाया जाता है| मान्यता है कि चक्रवर्ती राजा दशरथ अपने रिश्तेदारों के साथ यहां रहते थे|</p>
                </div>
                
              </div>

              <div class="musrvisitdiv">
                <h4>नागेश्वर नाथ मन्दिर </h4>
                <hr style="margin: 10px 0px 10px 0px;">
                <div class="mustimg">
                  <img class="" src="/app-assets/img/must vist places/6.jpg">
  
                </div>
                <div class="mustcontent">
                  <p>शिव भगवन को समर्पित यह मंदिर राम की पैड़ी में स्थित है| ऐसी मान्यता है कि इसका निर्माण श्री राम के छोटे पुत्र कुश ने करवाया था| कहा जाता है कि एक बार सरयू में स्नान करते समय कुश ने अपना बाजूबंद खो दिया था जो एक नाग कन्या द्वारा वापस किया गया| नाग कन्या कुश पर मोहित हो गयी, चूँकि वह शिवभक्त थी अतः कुश ने इस मंदिर का निर्माण उस नाग कन्या के लिए करवाया था| यह मंदिर राजा विक्रमादित्य के शासन काल तक अच्छी स्थिति में था| 1750 में इसका जीर्णोधार नवाब सफ़दरजंग के मंत्री नवल राय द्वारा कराया गया था| शिवरात्रि का पर्व इस मंदिर में बड़े धूमधाम से मनाया जाता है, यहाँ शिव बारात का भी बड़ा महत्त्व है| शिवरात्रि के पर्व में यहाँ लाखों की संख्या में दर्शनार्थी एवं श्रद्धालु उपस्थित होते हैं|</p>
                </div>
                
              </div>

              <div class="musrvisitdiv">
                <h4>कालेराम मन्दिर</h4>
                <hr style="margin: 10px 0px 10px 0px;">
                <div class="mustimg">
                  <img class="" src="/app-assets/img/must vist places/7.jpg">
  
                </div>
                <div class="mustcontent">
                  <p>पेशवा के सरदार रंगराव ओढ़ेकर द्वारा यह मंदिर 1782 में नागर शैली में निर्मित कराया गया था, जो लगभग 1788 ईस्वी में बनकर तैयार हुआ था। मंदिर में विराजित राम की मूर्ति काले पाषाण से बनी हुई है, इसलिए इसे 'कालाराम' कहा जाता है। यह मंदिर 74 मीटर लंबा और 32 मीटर चौड़ा है। मंदिर की चारों दिशाओं में चार दरवाजे हैं। इस मंदिर के कलश तक की ऊँचाई 69 फीट है तथा कलश 32 टन शुद्ध सोने से निर्मित किया हुआ है। पूर्व महाद्वार से प्रवेश करने पर भव्य सभामंडप नजर आता है, जिसकी ऊँचाई 12 फीट होने के साथ यहाँ चालीस खंभे है। यहाँ विराजमान हनुमान मंदिर में वे अपने आराध्य श्री राम के चरणों की ओर देखते हुए प्रतीत होते हैं। कहा जाता है कि ये मंदिर पर्णकुटी के स्थान पर बनाया गया है, जहाँ पूर्व में नाथपंथी साधु निवास करते थे। एक दिन साधुओं को अरुणा-वरुणा नदियों पर श्री राम की मूर्ति प्राप्त हुई और उन्होंने इसे लकड़ी के मंदिर में विराजित किया था। तत्पश्चात माधवराव पेशवा की माता श्री गोपिकाबाई की सूचना पर इस मंदिर का निर्माण करवाया गया। उस काल के दौरान मंदिर निर्माण में 23 लाख का खर्च अनुमानित बताया जाता है।</p>
                </div>
                
              </div>

              <div class="musrvisitdiv">
                <h4>रंग महल</h4>
                <hr style="margin: 10px 0px 10px 0px;">
                <div class="mustimg">
                  <img class="" src="/app-assets/img/must vist places/8.jpg">
  
                </div>
                <div class="mustcontent">
                  <p>इस मंदिर में जब माता सीता भगवान राम के साथ विवाह के उपरांत अयोध्या पहुंची तो इस मंदिर में माता सीता की मुंह दिखाई रस्म कौशल्या माता ने की थी। उस समय बसंत का उत्सव चल रहा था इसलिए इस मंदिर का नाम रंगमहल दिया गया| जिस तरह जनकपुर में माँ सीता की पूजा अर्चना की जाती है, ठीक उसी प्रकार रंग महल मंदिर में स्थित भगवान राम और माता सीता की पूजा यहां के पुजारी एक सखी का रूप धारण कर करते है। इस स्थान में रहने वाले संत सखी सम्प्रदाय के माने जाते है तथा इस मंदिर में सबसे अद्भुत यह कि इस मंदिर के पीछे एक ऐसा स्थान है जहां पर प्रत्येक दिन मंदिर में वर्षों से रह रही एक गाय उस स्थान की परिक्रमा करती है और राम जन्मभूमि की तरफ सर झुकाकर प्रणाम भी करती रही है। यह गाय जिस स्थान की परिक्रमा करती है यह आज भी एक रहस्य बना हुआ है जिसके बारे में वर्षों से रह रहे संत तथा महंत भी नहीं जानते है। आज भी इस गाय को देखने के लिए लोग दूर दूर से अयोध्या पहुंचते है।</p>
                </div>
                
              </div>

              <div class="musrvisitdiv">
                <h4>अंतर्राष्ट्रीय रामकथा संग्रहालय</h4>
                <hr style="margin: 10px 0px 10px 0px;">
                <div class="mustimg">
                  <img class="" src="/app-assets/img/must vist places/9.jpeg">
  
                </div>
                <div class="mustcontent">
                  <p>अयोध्या शहर उत्तर प्रदेश में सरयू नदी के किनारे स्थित है। श्रद्धालुओं के साथ-साथ आम पर्यटकों के लिए भी उत्तर प्रदेश का यह शहर दर्शनीय है। भले ही ये अयोध्या में सभी पर्यटक आकर्षण दर्शनीय हैं, लेकिन अयोध्या में कुछ अन्य स्थान भी हैं जो राम कथा संग्रहालय के उदाहरण के रूप में अच्छी तरह से देखने लायक हैं। इसी में से एक राम कथा संग्रहालय है। इसे वर्ष 1988 में स्थापित किया गया था। राम कथा संग्रहालय, भारत में कला और कलाकृतियों का एक बहुत ही रोचक संग्रह है। यह विशेष रूप से इतिहास के प्रेमियों के लिए एक विशेष संग्रहालय है। सिक्कों, दुर्लभ ताड़ के पत्तों की पांडुलिपियों और मिट्टी के बर्तनों का प्रदर्शन किया जाता है जो अतीत पर प्रकाश डालते हैं। इस संग्रहालय में मिट्टी के बर्तनों के अलावा, कई अन्य टेराकोटा वस्तुएं हैं। कपड़ा और धातु की वस्तुएं रिपॉजिटरी का एक अभिन्न हिस्सा हैं। इस संग्रहालय की यात्रा पर आने वाले किसी भी आगंतुक को निश्चित रूप से प्रभावित करेगा कि वे अति सुंदर मूर्तियां हैं। इस संग्रहालय में रखी गई खूबसूरत तस्वीरें और अद्भुत पेंटिंग भी किसी का ध्यान आकर्षित करने में विफल नहीं होंगी। यहाँ रखी कई पुरावशेष भगवान राम के जीवन से जुड़ी हैं। संग्रहालय प्राधिकरण न केवल उससे जुड़ी इन पुरानी कलाकृतियों के संरक्षण में लगा हुआ है बल्कि संग्रह को लगातार बढ़ा रहा है।</p>
                </div>
                
              </div>

              <div class="musrvisitdiv">
                <h4>कार्यशाला</h4>
                <hr style="margin: 10px 0px 10px 0px;">
                <div class="mustimg">
                  <img class="" src="/app-assets/img/must vist places/10.jpg">
  
                </div>
                <div class="mustcontent">
                  <p>अयोध्या. राम मंदिर में लगने वाले पत्थरों के लिए बिना रुके जो 30 सालों से जो कार्यशाला चल रही है आज आपको उसके गौरवशाली इतिहास के बारे में बतातें हैं. कारसेवक पुरम से कुछ ही दूरी पर स्थित है| विश्व हिंदू परिषद (VHP) की कार्यशाला है| यह वही जगह है जहां पिछले लगभग 30 सालों से राम मंदिर निर्माण में लगने वाले पत्थरों को तराशा जा रहा है| सितंबर 1990 में परमहंस रामचंद्र दास, महंत नृत्य गोपाल दास, विश्व हिंदू परिषद के अशोक सिंघल के मार्गदर्शन में यह कार्यशाला स्थापित की गई थी| वहीं राम मंदिर के निर्माण की तैयारियों को लेकर यह कार्यशाला प्रमुख केंद्र रही है| 1992 से अयोध्या आने वाले पर्यटक या श्रद्धालु इस कार्यशाला में भी हजारों की संख्या में आने लगे| कार्यशाला में आते ही श्रद्धालुओं को वहां उपस्थित लोग यह भी बताते हैं कि इस तरह का पत्थर भगवान राम के मंदिर में लगेंगे|</p>
                </div>
                
              </div>

              <div class="musrvisitdiv">
                <h4>तुलसी उद्यान</h4>
                <hr style="margin: 10px 0px 10px 0px;">
                <div class="mustimg">
                  <img class="" src="/app-assets/img/must vist places/11.jpg">
  
                </div>
                <div class="mustcontent">
                  <p>राम नगरी अयोध्या नया घाट क्षेत्र स्थित तुलसी उद्यान पर्यटकों के लिए आकर्षण का केंद्र बना हुआ है | ब्रिटिश सरकार ने अयोध्या कि धार्मिक स्वतंत्रता पर भी रोक लगाने के लिए महारानी विक्टोरिया की प्रतिमा को स्थापित किया था, लेकिन सन 1949 में मिली स्वतंत्रता के बाद अयोध्या की धार्मिक आजादी भी शुरू हो गई थी। अयोध्या की एक समाजसेवी महिला ने भगवान की प्रेरणा से रामचरितमानस के रचयिता गोस्वामी तुलसीदास की मूर्ति स्थापित करवाया. 28 दिसंबर 1963 में अयोध्या की समाजसेवी रीना शर्मा द्वारा नया घाट क्षेत्र स्थित विक्टोरिया पार्क के स्थान पर तुलसीदास की प्रतिमा को स्थापित कराते हुए पार्क को तुलसी उद्यान का नाम दिया था. उत्तर प्रदेश के तत्कालीन राज्यपाल विश्वनाथ दास ने इस प्रतिमा का अनावरण किया था. यह कार्य रामनगरी अयोध्या को नई दिशा देने वाला बना.</p>
                </div>
                
              </div>

              <div class="musrvisitdiv">
                <h4>छोटी देवकाली</h4>
                <hr style="margin: 10px 0px 10px 0px;">
                <div class="mustimg">
                  <img class="" src="/app-assets/img/must vist places/12.jpg">
  
                </div>
                <div class="mustcontent">
                  <p>अयोध्या में माता सीता द्वारा स्थापित माता पार्वती की प्रतिमा जो आज माँ देवकाली के नाम से प्रसिद्ध हैं| इस स्थान पर पूजा आराधना करने से सभी मनोकामना पूर्ण होता हैं भगवान श्रीराम की पवित्र नगरी अयोध्या में छोटी देवकाली मंदिर में नगर देवी सर्वमंगला पार्वती माता गौरी के रूप में विराजती हैं| श्री देवकाली मंदिर में माता सीता की कुल देवी के रूप में इस शक्ति पीठ में विशेष आस्था और श्रद्धा के साथ पूजा जाता है| विश्व में श्रेष्ठ तीर्थस्थलों में रामनगरी अयोध्या प्रमुख है श्री देवकाली मंदिर स्थान का ऐसी मान्यता है कि मां सीता जब जनकपुरी से अपने ससुराल अयोध्या के लिए चलीं थी तो अपने कुल देवी माता पार्वती की प्रतिमा साथ ले आयीं| महाराज दशरथ जी ने अयोध्या स्थित सप्तसागर के ईशानकोण पर श्री पार्वती जी का मंदिर बनवा दिया था जहां माता सीता तथा राजकुल की अन्य रानियाँ पूजन हेतु जाया करती थीं| आज यह रामायण कालीन मंदिर अपनी भव्यता और श्रेष्ठता के चलते भारत का प्रमुख देव स्थल बन चुका था|</p>
                </div>
                
              </div>

              <div class="musrvisitdiv">
                <h4>तुलसी स्मारक भवन</h4>
                <hr style="margin: 10px 0px 10px 0px;">
                <div class="mustimg">
                  <img class="" src="/app-assets/img/must vist places/13.jpg">
  
                </div>
                <div class="mustcontent">
                  <p>तुलसी स्मारक भवन अयोध्या , उत्तर प्रदेश  में स्थित है। अवधी भाषा में 'रामचरितमानस' और 'हनुमान चालीसा' की रचना करने वाले गोस्वामी तुलसीदास की स्मृति में निर्मित यह स्मारक 'अयोध्या शोध संस्थान' में स्थित है। यह एक ऐसा संगठन है जो अयोध्या शहर की सांस्कृतिक, आध्यात्मिक और साहित्यिक परंपरा का अध्ययन और वर्णन करता है। इस भवन में रामायण कला और शिल्प पर आधारित स्थाई प्रदर्शनी और एक पुस्तकालय भी है। यहाँ रामलीला का दैनिक आयोजन और रामकथा का नियमित पाठ भी होता है। तुलसी स्मारक भवन में विभिन्न धार्मिक कार्यक्रमों व प्रार्थना सभाओं के साथ-साथ अनुभवी कलाकारों द्वारा किए जाने वाले धार्मिक नाटकों का आयोजन किया जाता है। संस्थान के भीतर सन 1988 में 'रामकंठ संग्रहालय' स्थापित किया गया था, जिसमें राम के युग की प्राचीन वस्तुओं के संग्रह के माध्यम से इस नगर के ऐतिहासिक परिप्रेक्ष्य को सामने लाया जाता है।</p>
                </div>
                
              </div>

              <div class="musrvisitdiv">
                <h4>वाल्मीकि मंदिर</h4>
                <hr style="margin: 10px 0px 10px 0px;">
                <div class="mustimg">
                  <img class="" src="/app-assets/img/must vist places/14.jpg">
  
                </div>
                <div class="mustcontent">
                  <p>वाल्मीकि समाज द्वारा निर्मित महर्षि वाल्मीकि को समर्पित मंदिर है। प्रधान मंत्री नरेंद्र मोदी ने 2 अक्टूबर 2014 को महात्मा गांधी की जयंती पर यहीं से स्वच्छ भारत अभियान का आह्वान किया था। महात्मा गांधी ने 1 अप्रैल 1946 से 1947 के प्रारंभ तक अपने दिल्ली प्रवास के दौरान यहाँ 214 दिन बिताए थे। महर्षि वाल्मीकि का जन्म नागा प्रजाति में हुआ था। महर्षि बनने के पहले वाल्मीकि रत्नाकर के नाम से जाने जाते थे। वे परिवार के पालन-पोषण हेतु दस्युकर्म करते थे। एक बार उन्हें निर्जन वन में नारद मुनि मिले। जब रत्नाकर ने उन्हें लूटना चाहा, तो उन्होंने रत्नाकर से पूछा कि यह कार्य किस लिए करते हो, रत्नाकर ने जवाब दिया परिवार को पालने के लिये। नारद ने प्रश्न किया कि क्या इस कार्य के फलस्वरुप जो पाप तुम्हें होगा उसका दण्ड भुगतने में तुम्हारे परिवार वाले तुम्हारा साथ देंगे। रत्नाकर ने जवाब दिया पता नहीं, नारदमुनि ने कहा कि जाओ उनसे पूछ आओ। तब रत्नाकर ने नारद ऋषि को पेड़ से बाँध दिया तथा घर जाकर पत्नी तथा अन्य परिवार वालों से पूछा कि क्या दस्युकर्म के फलस्वरुप होने वाले पाप के दण्ड में तुम मेरा साथ दोगे तो सबने मना कर दिया। तब रत्नाकर नारदमुनि के पास लौटे तथा उन्हें यह बात बतायी। इस पर नारदमुनि ने कहा कि हे रत्नाकर यदि तुम्हारे घरवाले इसके पाप में तुम्हारे भागीदार नहीं बनना चाहते तो फिर क्यों उनके लिये यह पाप करते हो। यह सुनकर रत्नाकर को दस्युकर्म से उन्हें विरक्ति हो गई तथा उन्होंने नारदमुनि से उद्धार का उपाय पूछा। नारदमुनि ने उन्हें राम-राम जपने का निर्देश दिया। रत्नाकर वन में एकान्त स्थान पर बैठकर राम-राम जपने लगे लेकिन अज्ञानतावश राम-राम की जगह मरा-मरा जपने लगे। कई वर्षों तक कठोर तप के बाद उनके पूरे शरीर पर चींटियों ने बाँबी बना ली जिस कारण उनका नाम वाल्मीकि पड़ा। कठोर तप से प्रसन्न होकर ब्रह्मा जी ने इन्हें ज्ञान प्रदान किया तथा रामायण की रचना करने की आज्ञा दी। ब्रह्मा जी की कृपा से इन्हें समय से पूर्व ही रामायण की सभी घटनाओं का ज्ञान हो गया तथा उन्होंने रामायण की रचना की। कालान्तर में वे महान ऋषि बने।</p>
                </div>
                
              </div>

              <div class="musrvisitdiv">
                <h4>बड़ी छावनी</h4>
                <hr style="margin: 10px 0px 10px 0px;">
                <div class="mustimg">
                  <img class="" src="/app-assets/img/must vist places/15.jpg">
  
                </div>
                <div class="mustcontent">
                  <p>मुख्य अयोध्या शहर से दूर, एक किनारे में लगभग तीन एकड़ जमीन पर आबाद है ये छावनी। चारों तरफ बुलंद चारदीवारी है और आने-जाने के लिए एक दरवाजा है। संतों के मुताबिक, बहुत पहले एक संन्यासी अपने साथ बारह सौ साधु-संतों के साथ घूमते हुए अयोध्या आए। वो चार महीने के लिए अयोध्या में डेरा डालना चाहते थे। चुकी उनके साथ और ग्यारह सौ साधु थे सो कोई तैयार नहीं हो रहा था। तब इस छावनी के पहले महंत श्री रघुनाथ दास जी महाराज ने उन्हें और उनके साथी साधुओं को यहां साल भर के लिए रोका। तभी इसे बड़ी छावनी कहते हैं।</p>
                </div>
                
              </div>

              <div class="musrvisitdiv">
                <h4>तपसी (तपस्वी) जी की छावनी</h4>
                <hr style="margin: 10px 0px 10px 0px;">
                <div class="mustimg">
                  <img class="" src="/app-assets/img/must vist places/16.jpg">
  
                </div>
                <div class="mustcontent">
                  <p>अयोध्या शहर के रामघाट इलाके में स्थित है ये छावनी। भव्य इमारत और इमारत पर की गई कारीगरी से सहज अंदाजा हो जाता है कि छावनी बहुत पहले से आबाद है| ये छावनी उन साधु-संन्यासियों के लिए बनवाया गया था जो जंगलों और पहाड़ों में तपस्या करते थे। जब वो घूमते-घूमते अयोध्या आते थे तो उनको ठहरने में और अपनी दिनचर्या बनाए रखने में दिक्कत होती थी। इन्हीं बातों का ख्याल रखते हुए इस छावनी का निर्माण हुआ।</p>
                </div>
                
              </div>

              <div class="musrvisitdiv">
                <h4>छोटी छावनी</h4>
                <hr style="margin: 10px 0px 10px 0px;">
                <div class="mustimg">
                  <img class="" src="/app-assets/img/must vist places/17.jpeg">
  
                </div>
                <div class="mustcontent">
                  <p>इस छावनी को छोटी छावनी के नाम से ही अयोध्या में लोग जानते हैं, लेकिन कुछ साल पहले इसका नाम बदलकर श्री मणिराम दास छावनी कर दिया गया। अयोध्या की सभी छावनियों में आज इस छावनी का कद और प्रभाव सबसे ज्यादा है।</p>
                </div>
                
              </div>

              <div class="musrvisitdiv">
                <h4>बड़ी देवकाली</h4>
                <hr style="margin: 10px 0px 10px 0px;">
                <div class="mustimg">
                  <img class="" src="/app-assets/img/must vist places/18.jpg">
  
                </div>
                <div class="mustcontent">
                  <p>भगवान श्री राम की कुलदेवी मां बड़ी देवकाली मंदिर है जहां पर एक ही शिला में तीन देवियां महाकाली, महालक्ष्मी, महासरस्वती विराजती हैं। मान्यता है देश भर में मां के दो ही ऐसे मंदिर हैं जहां पर एक शिला में तीन देवियां विराजती हैं। पहला मंदिर मां वैष्णो देवी मंदिर है और दूसरा मां बड़ी देवकाली है। बड़ी देवकाली मंदिर शहर में ही स्थित है। पहले यह स्थान जंगल क्षेत्र था। मंदिर में मां काली, लक्ष्मी व माता सरस्वती के विग्रह स्थापित हैं। सूर्यवंशीय महराज सुदर्शन द्वारा इसे द्वापर युग में स्थापित माना जाता है। इन्हें शीतला देवी के नाम से भी जाना जाता है।</p>
                </div>
                
              </div>

              <div class="musrvisitdiv">
                <h4>गुप्तार घाट</h4>
                <hr style="margin: 10px 0px 10px 0px;">
                <div class="mustimg">
                  <img class="" src="/app-assets/img/must vist places/19.jpg">
  
                </div>
                <div class="mustcontent">
                  <p>उत्तर प्रदेश के अयोध्या जिले में गुप्तार घाट घाघरा नदी के पश्चिमी तट पर स्थित एक धार्मिक स्थल है, जिसे सरयू नदी के नाम से भी जाना जाता है। भगवान राम और उसके आस-पास के क्षेत्र का जन्म स्थान अयोध्या के रूप में जाना जाता है, विशेष रूप से साकेत। शास्त्रों में गुप्त-घाट की महिमा का बखान किया गया है। गुप्तार घाट अयोध्या में हनुमान गढ़ी से लगभग 9 किमी दूर है। गुप्तार घाट कई मायनों में अयोध्या के घाटों से अलग दिखता है। सख्त अर्थों में न तो 'पंडों' की उपस्थिति है और न ही धार्मिक वातावरण। घाट पर एकांत बोरियत पैदा नहीं करता बल्कि यह चैतन्य शांति प्राप्त करता है। हिंदू पौराणिक कथाओं के अनुसार, भगवान राम ने गुप्तार घाट पर जल समाधि ली और वैकुंठ चले गए।  वैकुंठ भगवान विष्णु के निवास का नाम है। पौराणिक कथाओं का यह दृष्टिकोण हिंदू धर्म में आस्था रखने वालों और भगवान राम के भक्तों के लिए सरयू नदी को पवित्र बनाता है। चूंकि गुप्तार घाट भगवान राम से संबंधित है, इसलिए इस स्थान का अपना सांस्कृतिक महत्व भी है।</p>
                </div>
                
              </div>
              <% } %>

           


        </div>
        </section>
      </main>


      <%- include('../layouts/footer') %>
  </body>


</html>

