<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<%- include('../layouts/top-header') %>
<style>
  
</style>

  <body >
    <div class="inner-header affix">
        <h3><a href="/"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;</a> <%= pagetitle%> <img src="/app-assets/img/services/iner-header-img.png"></h3>

    </div>

      <main class="main1">
        <section class="py-0 ">
          <div class="container-fluid">
           
           
                <img class="" src="/app-assets/img/services/Org.Structurekk.jpeg" style="    height: 100%;width: 100%;">

             

            

           


        </div>
        </section>
      </main>


      <%- include('../layouts/footer') %>
  </body>


</html>

