<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<%- include('../layouts/top-header') %>
<style>
  
</style>

  <body >
    <div class="inner-header affix">
        <h3><a href="/"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;</a> <%= pagetitle%> <img src="/app-assets/img/services/iner-header-img.png"></h3>

    </div>

      <main class="main1">
        <section class="py-0 ">
          <div class="container-fluid">
           
            <div class="templetimindiv">
              <h4>Shri Ram Janmabhoomi</h4>
              <hr style="margin: 10px 0px 10px 0px;">
              <h5>7:00 AM to 09:00 PM</h5>
              <div class="templetimindivpara">
                <p>मंगला आरती- सुबह 4.00 बजे
                  शृंगार आरती- सुबह 6.00 बजे
                  भोग आरती - 11.30 बजे
                  मध्यान्ह आरती - दोपहर 2.30 बजे
                  संध्या आरती शाम 6.30 बजे
                  शयन आरती - रात 10.00 बजे</p>
              </div>
              <div class="templetimindivimg">
                <img class="timeimg1" src="/app-assets/img/services/Ellipse 3.png">
                <img class="timeimg2" src="/app-assets/img/services/Ellipse 2.png">

              </div>
            </div>

            <div class="templetimindiv">
              <h4>Hanuman Garhi</h4>
              <hr style="margin: 10px 0px 10px 0px;">
              <h5>04:00 AM to 01:00 PM - 03:30 PM to 09:00 PM</h5>
              <div class="templetimindivpara">
                <p>मंगला आरती- सुबह 3.30 बजे
                  मध्यान्ह आरती - दोपहर 2.30 बजे
                  शयन आरती - रात 10.00 से 10.30 बजे</p>
              </div>
              <div class="templetimindivimg" >
                <img class="timeimg1" src="/app-assets/img/services/Ellipse 3.png">
                <img class="timeimg2" src="/app-assets/img/services/Ellipse 2 (1).png">

              </div>
            </div>

            <div class="templetimindiv">
              <h4>Nageswarnath Mandir</h4>
              <hr style="margin: 10px 0px 10px 0px;">
              <h5>06:00 AM to 1:00 PM - 04:00 PM to 09:00 PM</h5>
              <div class="templetimindivpara">
                <p></p>
              </div>
              <div class="templetimindivimg" >
                <img class="timeimg1" src="/app-assets/img/services/Ellipse 3.png">
                <img class="timeimg2" src="/app-assets/img/services/Ellipse 2 (2).png">

              </div>
            </div>
         


        </div>
        </section>
      </main>


      <%- include('../layouts/footer') %>
  </body>


</html>

