<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<%- include('../layouts/top-header') %>

  <body>
    <div class="inner-header affix">
        <h3><a href="/profile"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;</a> <%= pagetitle%> <img src="/app-assets/img/services/iner-header-img.png" ></h3>

    </div>
    
  

      <main class="main1">
        <section class="py-0 ">
        
          <div class="container-fluid">

            <div class="content-div">
              <h4>Home Stay / Tour Guide Booking</h4>
              <p>Contact us directly related Booking</p>
              <!-- <address>2492 Centennial NW, Acworth, GA, 30102</address> -->
              <p>Call: <a href="#" class="text-reset"><u>+91 7607778924</u></a></p>
              <p>Email: <a href="#" class="text-reset"><u>homestay@divyayodhya.com</u></a></p>
              <p>Support time: Monday to Saturday 
                <br>
                9:30 am to 6:00 pm
              </p>
            
                <h4>Parking and Others</h4>
                <p>Contact us directly related Booking</p>
                <!-- <address>750 Sing Sing Rd, Horseheads, NY, 14845</address> -->
                <p>Call: <a href="#" class="text-reset"><u>+91 7607778926</u></a></p>
                <p>Email: <a href="#" class="text-reset"><u>support@divyayodhya.com</u></a></p>
    
                <p>Support time: Monday to Saturday 
                  <br>
                  9:00 am to 5:30 pm
                </p>
             </div>



           
            
         


        </div>
        </section>
      </main>


      <%- include('../layouts/footer') %>
  </body>


</html>
