<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<%- include('../layouts/top-header') %>

  <body>
    <div class="inner-header affix">
        <h3><a href="/"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;</a> <%= pagetitle%> <img src="/app-assets/img/services/iner-header-img.png" ></h3>

    </div>

      <main class="main1">
        <section class="py-0 ">
          <div class="container-fluid">
           <div style="margin-top: 30%;">
            <center>
            <img src="/app-assets/img/services/Messages.png" style="height: 200px;">
            <h4>No Notification to show!</h4>
            <h5>All caught up</h5>
            <a href="/" class="btn btn-danger"> Go Back</a>
        </center>
           </div>
            
         


        </div>
        </section>
      </main>


      <%- include('../layouts/footer') %>
  </body>


</html>

