<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<%- include('../layouts/top-header') %>

  <body>
    <div class="inner-header affix">
        <h3><a href="/profile"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;</a> <%= pagetitle%> <img src="/app-assets/img/services/iner-header-img.png" ></h3>

    </div>
    
  

      <main class="main1">
        <section class="py-0 ">
        
          <div class="container-fluid">
            <div class="content-div">
             
                <p>
                            Thank you for choosing Divya Ayodhya (an initiative of Ayodhya Development Authority) for your travel needs. We understand that plans can change, and we want to provide you with a transparent refund policy.
                        </p>
        
                        <p>
                            <b>1. Cancellation Timeframes: </b><br> 
                            - Full Refund: Cancellations made 15 days prior to the scheduled activity or booking.
                            <br>- Partial Refund: Cancellations made between 14 and 03 days prior to the scheduled activity may be eligible for a partial refund.
                            <br>- No Refund: Cancellations made within 03 days of the scheduled activity may not be eligible for a refund.
                         
                        </p>
                        <p>
                          <b>2. Refund Process:</b>  
                            <br> - Refunds will be processed using the same method as the original payment.
                            <br>- Please allow 07 business days for the refund to reflect in your account.
        
                        </p>
                        <p>
                          <b>3. Booking Modifications: </b> 
                            <br>-	We understand that travel plans can be dynamic. If you need to modify your booking, please contact our customer support, and we’ll do our best to accommodate your changes.
        
                        </p>
        
                        <p>
                          <b>4. Force Majeure: </b> 
                          <br>-  In the event of unforeseen circumstances, such as natural disasters or other force majeure events, we reserve the right to modify or cancel bookings. In such cases, we will work with you to find a suitable solution, which may include rescheduling or providing a credit.
        
                      </p>
        
                      <p>
                        <b>5. Unused Services:</b>  
                        <br>-	No refunds will be issued for unused services if you decide to modify or cancel your plans after the activity or booking has commenced.
        
                    </p>
        
                    <p>
                      <b>6. Contact Information:</b>  
                      <br>-	For any refund-related inquiries or assistance, please contact our customer support support@divyaayodhya.com
        
                  </p>
                  <br>
                  <p>
                    <b>Note : </b>  
                    This refund policy is subject to change, and any updates will be posted on our website.
                    <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thank you for your understanding, and we look forward to serving your travel needs.
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AYODHYA DEVELOPMENT AUTHORITY 
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Civil Lines, Parikrama Marg, Faizabad
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ayodhya - 224001, Uttar Pradesh
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;support@divyaayodhya.com 
                    
                </p>
                  </div>
              



           
            
         


        </div>
        </section>
      </main>


      <%- include('../layouts/footer') %>
  </body>


</html>
