<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<%- include('../layouts/top-header') %>

  <body>
    <div class="inner-header affix">
        <h3><a href="/profile"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;</a> <%= pagetitle%> <img src="/app-assets/img/services/iner-header-img.png" ></h3>

    </div>
    
  

      <main class="main1">
        <section class="py-0 ">
        
          <div class="container-fluid">


           <div style="margin-top: 30%;">
            <center>
            <img src="/app-assets/img/services/favourite.png" style="height: 200px;">
            <h4>No Order to show!</h4>
            <h5>You don't have any Orders <br>explore now and book your Orders.</h5>
            <a href="/" class="btn btn-danger"> Explore</a>
        </center>
           </div>

           
            
         


        </div>
        </section>
      </main>


      <%- include('../layouts/footer') %>
  </body>


</html>
